<!DOCTYPE html>
<html lang="en">
  {{> header }}
  <body>

   {{> navbar }}
    <div class="container-fluid">
      <h2>User Profile</h2>
      <img
        src="https://www.pngall.com/wp-content/uploads/5/Profile-Male-PNG.png"
        alt="profile pic"
      />
      <h3>Name : {{user.NAME}}</h3>
      <h3>Email : {{user.EMAIL}}</h3>
    </div>
  </body>
</html>
